body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.bg{
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
}

.bg1{
    margin: 0;
    position: relative;
    background-image: linear-gradient(to right, rgba(221, 178, 170, 0), rgb(177, 49, 45));
    height: 400px;
   
}

.navbar{
    
    padding: 50px 30px 20px 30px;
    border: 2px solid blanchedalmond;
    width: 100%;
    height: 15px;
    display: flex;
    background-position: sticky;
    
}
.navbar img{
    height: 70px;
    width: 80px;
}
.navbar a{
    /* display: float; */
    color:rebeccapurple;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10%;;
}
.bg2{
    position: relative;
    top: 20%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 400px;

}

.bg2 img{
    width: 100%;
    height: 100%;
}

.body{
    display: flex;
    height: 100vh;
    width: 100wh;
    background-image: url(images/shapes/Frame\ 58.jpg);
}

.body-half{
    margin-top: 30px;
    padding: 10px;
    position: relative;
    width:50%;
}

.menu{
    text-decoration: none;
    background-image: linear-gradient(to right, white,red);
    padding:5px;
}


h1{
    font-size: 50px;
}

.word{
    color:tomato;

}
p{
    margin-bottom: 35px;
    margin-left: 20px;
}
.button{
    margin-left: 200px;
    text-decoration: none;
    background-image: linear-gradient(rgb(156, 20, 173),tomato);
    color: white;
    font-size: medium;
    font-weight: 500;
    padding: 15px;
    border-radius: 20px;

}

.body-half img{
    position: relative;
    width: 75%;
    height: 90%;
    padding-left: 10%;
    padding-top: 7%;
   
}

.body-2{
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("images/shapes/Frame 58.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button2{
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(rgb(9, 23, 68),rgb(66, 124, 231));
    color: white;
    font-size: medium;
    font-weight: 500;
    padding: 15px;
    border-radius: 20px;

}

.recipe{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( white,tomato);
}

.recipelist{
    display: flex;
    position: relative;
    padding-left: 4%;
}
h2{
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}
.box{
    position: relative;
    height:380px;
    width:340px;
    background-image:linear-gradient(white , rgb(39, 4, 7));
    margin:3%;
    box-shadow: 10px 10px 30px rgb(39, 4, 4);
    /* box-shadow: 12px 12px 2px 1px rgba(105, 7, 24, 0.568); */
    border-radius: 35px;
}

.box img{
    width:300px;
    height: 220px;
    position:relative;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 38px;
}

.dish{
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: black;
    background-color: white;
    border-radius: 7px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 10px;
    /* box-shadow: 0px 5px 2px 1px rgb(34, 31, 31); */
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,rgb(214, 218, 20),rgb(185, 30, 134));
    border-image-slice: 1;
}

.description{
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    color: rgb(177, 204, 235);
   
}

.more{
    text-decoration: none;
    color: blanchedalmond;
}

.feedback{
    width: 80%;
    height: 35vh;
    background-color: blanchedalmond;
    display: flex;
    margin-left: 10%;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.feedback-box{
    position: relative;
    height: 100%;
    width: 30%;
    margin:0  10% 0 10%;
    line-height: 2px;
    padding-top: 50px;
}

.footer{
    margin-top:15vh;
    position: relative;
    width: 100%;
    height: 25vh;
    background-color: black;
    color:whitesmoke;
    line-height: 20px;
}